extends common/layout.pug

block variables
  -var page = 'index'

block content
  .intro.py-3.bg-white.text-center
    .container 
      h2.text-primary.display-3.my-4 Ninja Quiz 
  .result.py-4.d-none.bg-light.text-center
    .container.lead
      p 
        | You are 
        span.text-primary.display-4.p-3 0%
        | ninja
  .quiz.py-4.bg-primary 
    .container 
      h2.my-5.text-white On with the questions...
      form.quiz-form.text-light
        each question in questions
          .my-5 
            p.lead.font-weight-normal= question.text
            each answer, key in question.answers
              .form-check.my-2.text-white-50 
                input(type="radio" name=question.id value=key)
                label.form-check-label= answer
        .text-center
          input.btn.btn-light(type="submit")
